[stream]

    enabled = {{ netdata.stream_enabled | default('yes', True) }}

    destination = {{ datacenter }}{{ netdata.master }}:{{ netdata.port }}

    api key = {{ api_key }}

    timeout seconds = {{ netdata.timeout | default('60', True) }}

    default port = {{ netdata.port }}

    buffer size bytes = {{ netdata.buffer_size | default('1048576', True) }}

    reconnect delay seconds = {{ netdata.reconnect_delay | default('5', True) }}

    initial clock resync iterations = {{ netdata.clock_resync | default('60', True) }}